@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root{
    --padding-container: 100px 0;
    --color-title: #001A49;
}

*{
    scroll-behavior: smooth;
}

body{   
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}

.hero{
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #fff;
}

.hero::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #00000049 0%, #0000008c 100% ), url(../images/herobg.png);
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
    z-index: -1;
}

.nav{
    --padding-container:0;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-title{
    font-weight:300;
    font-size: 28px;
    padding: 20px 0;
    color: #fff;
    text-decoration: none;
}

.responsive-menu{
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.nav-img{
    width: 30px;
    display: block;
}

.nav-close{
    display: none;
}

.nav-link{
    margin-left: auto;
    display: flex;
}

.nav-item{
    list-style: none;
}

.nav-links{
    color: #fff;
    padding: 30px 20px;
    text-decoration: none;
}

.nav-links:hover,
.nav-title:hover{
    color: rgb(198, 248, 255);
    transition: .3s;
}

.hero-container{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.hero-title{
    font-size: 50px;
    max-width: 900px;
}

.hero-p{
    max-width: 750px;
    font-size: 16px;
}

.cta{
    color: #fff;
    text-decoration: none;
    border-radius: 30px;
    background-color: #1085f4;
    text-align: center;
    width: 160px;
    padding: 12px;
}

.cta:hover{
    background-color: #389fff;
    transition: .4s;
}

.section-1{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.section__title{
    color: #001A49;
    font-size: 32px;
}

.cards-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    gap: 50px;
    margin-top: 20px;
    justify-content: center;
}

.card{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    gap: 10px; 
    padding: 30px;
    max-width: 310px;
}

.img-card{
    width: 44px;
}

.section-2{
    width: 100%;
    background-color: #e5e5f7;
}

.text-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 590px;
}

.section-2__p{
    line-height: 28px;
}

.img-section-2{
    max-width: 500px;
}

.d-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.section-3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cards-container-3{
    display: flex;
    gap: 60px;
    flex-wrap: wrap;
    margin-top: 80px;
}

.card-3{
    width: 330px;
    display: flex;
    flex-direction: column;
    background-color: #e5e5f7;
    align-items: center;
    margin: 0 auto;
    padding: 40px;
    gap: 15px;
    border-radius: 10px;
}

.title-card-3{
    color: #001A49;
    font-size: 38px;
    font-weight: 700;
}

.text-container-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin: 20px 0;
}

.spc{
    font-size:20px ;
    color: #696871;
    font-weight: 100;
}

.first-text-card-3{
    font-size:16px ;
    color: #696871;
    font-weight: 100;
}

.bttn-cards{
    border: 1px solid #69687168;
    width: 260px;
    padding: 20px;
    margin-top: 15px;
    text-decoration: none;
    border-radius: 10px;
    background-color: #fff;
    text-align: center;
    color:#5454D4;
    font-weight: 700;
}

.bttn-cards:hover{
    border-color: #d3d3ff;
    color: #6b6bff;
    transition:.3s ;
}

.section-4{
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: center;
}

.container-test{
    width: 90%;
    display: flex;
    justify-content: center;
    min-height: 200px;
}

.testimonial{
    align-items: center;
    gap: 50px;
    padding: 0 20px;
    width: 100%;
    justify-content: space-between;
    display: none;
    flex-wrap: wrap;
}

.text-container-test{
    max-width: 700px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.img-test{
    width: 230px;
    height: 230px;
    border-radius:50% ;
    margin: 0 auto;
    object-fit: cover;
}

#arrow-right, #arrow-left{
    cursor: pointer;
    width: 40px;
}

.active{
    display: flex;
}

.box{
    border: 1px solid #546c9a;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.bttn-arrow-3{
    display: flex;
    justify-content: space-between;
    width: 95%;
    cursor: pointer;
    padding: 30px 0;
}

.para{
    width: 95%;
    height: 0;
    text-align: left;
    transition: .2s;
}

.block{
    height: auto;
    margin-bottom: 30px;
    
}

.gap{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
}

.arrow-bot{
    transform: rotate(180deg);
    transition: .2s;
}

.arrow-bot--active{
    transform: rotate(0deg);
}

.card-title{
    font-size: 21px;
    user-select: none;
}

.container-final{
    text-align: center;
    display: flex;
    gap: 20px;
    padding: 0;
    padding-bottom:100px ;
    align-items: center;
    flex-direction: column;
}

.para-2{
    width: 700px;
    font-size: 16px;
    margin-bottom: 5px;
}

.footer{
    background-color: #1D293F;
}

.nav-footer{
    display: flex;
    flex-direction: column;
    --padding-container:0;
    align-items: flex-start;
    gap: 45px;
}

.nav-link-2{
    margin: 0;
    display: flex;
    padding: 0;
}

.logo-2{
    padding-left: 5px;
}

.first-links{
    padding-left: 0;
}

.footer-container{
    display: flex;
    justify-content:space-between ;
    border-bottom: 1px solid #fff;
    padding: 100px 0 80px 0;
}

.subscribe-title{
    color: #fff;
    font-size:26px ;
    margin-bottom: 10px;
}

.email{
    padding: 10px 8px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.footer-bttn{
    color: #fff;
    background-color: #1085f4;
    border: none;
    border-radius: 5px;
    height: 46px;
    width: 100px;
    margin-left:10px ;
    cursor: pointer;
}

.container-2{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.text-a{
    color: #fff;
    font-size: 18px;
    text-decoration: none;
}